<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User <%= user.fName %>'s profile</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">

</head>
<body>
  <img id="logo" src="/West-MEC_logo.jpg" alt="West MEC Logo">
  <div class="container">
    <h1>First Name: <span><%= user.fName %></span></h1>
    <h1>Last Name: <span><%= user.lName %></span></h1>
    <h1>Email: <span><%= user.Email %></span></h1>
    <h1>Phone Number: <span><%= user.phone %></span></h1>
    <h1>Address: <span><%= user.address %></span></h1>
  </div>
  <a href="/" id="goBack">Go back</a>
</body>
</html>
